
<h4>Course list</h4>
<div class="card-deck dashboard-card-deck one-row" data-region="items-list" role="list">
  
    {{#courses}}

    <div class="card dashboard-card" role="listitem"
    data-region="course-content"
    data-course-id="{id}">
    <a href="{{courselink}}?id={{id}}" tabindex="-1">
        <div class="card-img dashboard-card-img" style='background-image: url("{{courseimage}}");'>
            <span class="sr-only">#straria:courseimage, core_course/str</span>
        </div>
    </a>
    <div class="card-body pr-1 course-info-container" id="course-info-container-id-uniqid">
        <div class="d-flex align-items-start">
            <div class="w-100 text-truncate">
                {{name}}
                {{fullname}}
               
                    <div class="text-muted muted d-flex mb-1 flex-wrap">
                        <span class="sr-only">
                            #straria:courseshortname, core_course/str
                        </span>
                        <div>
                {{shortname}}
                        </div>
                        
                    </div>
                
            </div>
        </div>
        
    </div>
    <a class="btn btn-primary" onclick="return confirm('Are you sure you want to delete this item?');"  href="{{deletecourse}}?mastercourseid={{mastercourseId}}&courseid={{id}} ">Delete Course</a>
</div> 



{{/courses}}
    


    

    

</div>

<script>
        console.log(document.getElementsByClassName('btn btn-primary'));
</script>