<h4>User list</h4>

<table class="flexible table table-striped table-hover generaltable generalbox" id="participants">
       <thead>
              <tr>
                     <th class="header c0" scope="col"><input id="select-all-participants"
                                   name="select-all-participants" type="checkbox" class="m-1" value=""
                                   data-action="toggle" data-toggle="master" data-togglegroup="participants-table"
                                   data-toggle-selectall="Select all" data-toggle-deselectall="Deselect all">
                            <label for="select-all-participants" class="sr-only">Select all</label>
                            <div class="commands"></div>
                     </th>
                     <th class="header c1" scope="col"><a data-sortable="1" data-sortby="firstname" data-sortorder="4"
                                   role="button"
                                   href="http://localhost/moodle/user/index.php?id=12&amp;tsort=firstname&amp;tdir=4">First
                                   name<span class="accesshide ">Sort by First name Ascending</span></a> / <a
                                   data-sortable="1" data-sortby="lastname" data-sortorder="3" role="button"
                                   href="http://localhost/moodle/user/index.php?id=12&amp;tsort=lastname&amp;tdir=3">Surname<span
                                          class="accesshide ">Sort by Surname Ascending</span></a> <i
                                   class="icon fa fa-sort-asc fa-fw " title="Ascending" role="img"
                                   aria-label="Ascending"></i>
                            <div class="commands"><a title="Hide Full name" aria-expanded="true"
                                          aria-controls="user-index-participants-12_r0_c1 user-index-participants-12_r1_c1 user-index-participants-12_r2_c1 user-index-participants-12_r3_c1 user-index-participants-12_r4_c1 user-index-participants-12_r5_c1 user-index-participants-12_r6_c1 user-index-participants-12_r7_c1 user-index-participants-12_r8_c1 user-index-participants-12_r9_c1 user-index-participants-12_r10_c1 user-index-participants-12_r11_c1 user-index-participants-12_r12_c1 user-index-participants-12_r13_c1 user-index-participants-12_r14_c1 user-index-participants-12_r15_c1 user-index-participants-12_r16_c1 user-index-participants-12_r17_c1 user-index-participants-12_r18_c1 user-index-participants-12_r19_c1"
                                          data-action="hide" data-column="fullname" role="button"
                                          href="http://localhost/moodle/user/index.php?id=12&amp;thide=fullname"><i
                                                 class="icon fa fa-minus fa-fw " aria-hidden="true"></i></a></div>
                     </th>
                     <th class="header c2" scope="col"><a data-sortable="1" data-sortby="email" data-sortorder="4"
                                   role="button"
                                   href="http://localhost/moodle/user/index.php?id=12&amp;tsort=email&amp;tdir=4">Email
                                   address<span class="accesshide ">Sort by Email address Ascending</span></a>
                            <div class="commands"><a title="Hide Email address" aria-expanded="true"
                                          aria-controls="user-index-participants-12_r0_c2 user-index-participants-12_r1_c2 user-index-participants-12_r2_c2 user-index-participants-12_r3_c2 user-index-participants-12_r4_c2 user-index-participants-12_r5_c2 user-index-participants-12_r6_c2 user-index-participants-12_r7_c2 user-index-participants-12_r8_c2 user-index-participants-12_r9_c2 user-index-participants-12_r10_c2 user-index-participants-12_r11_c2 user-index-participants-12_r12_c2 user-index-participants-12_r13_c2 user-index-participants-12_r14_c2 user-index-participants-12_r15_c2 user-index-participants-12_r16_c2 user-index-participants-12_r17_c2 user-index-participants-12_r18_c2 user-index-participants-12_r19_c2"
                                          data-action="hide" data-column="email" role="button"
                                          href="http://localhost/moodle/user/index.php?id=12&amp;thide=email"><i
                                                 class="icon fa fa-minus fa-fw " aria-hidden="true"></i></a></div>
                     </th>
                     <th class="header c3" scope="col">Roles<div class="commands"><a title="Hide Roles"
                                          aria-expanded="true"
                                          aria-controls="user-index-participants-12_r0_c3 user-index-participants-12_r1_c3 user-index-participants-12_r2_c3 user-index-participants-12_r3_c3 user-index-participants-12_r4_c3 user-index-participants-12_r5_c3 user-index-participants-12_r6_c3 user-index-participants-12_r7_c3 user-index-participants-12_r8_c3 user-index-participants-12_r9_c3 user-index-participants-12_r10_c3 user-index-participants-12_r11_c3 user-index-participants-12_r12_c3 user-index-participants-12_r13_c3 user-index-participants-12_r14_c3 user-index-participants-12_r15_c3 user-index-participants-12_r16_c3 user-index-participants-12_r17_c3 user-index-participants-12_r18_c3 user-index-participants-12_r19_c3"
                                          data-action="hide" data-column="roles" role="button"
                                          href="http://localhost/moodle/user/index.php?id=12&amp;thide=roles"><i
                                                 class="icon fa fa-minus fa-fw " aria-hidden="true"></i></a></div>
                     </th>
                     
                     
                     <th class="header c6" scope="col">Status<div class="commands"><a title="Hide Status"
                                          aria-expanded="true"
                                          aria-controls="user-index-participants-12_r0_c6 user-index-participants-12_r1_c6 user-index-participants-12_r2_c6 user-index-participants-12_r3_c6 user-index-participants-12_r4_c6 user-index-participants-12_r5_c6 user-index-participants-12_r6_c6 user-index-participants-12_r7_c6 user-index-participants-12_r8_c6 user-index-participants-12_r9_c6 user-index-participants-12_r10_c6 user-index-participants-12_r11_c6 user-index-participants-12_r12_c6 user-index-participants-12_r13_c6 user-index-participants-12_r14_c6 user-index-participants-12_r15_c6 user-index-participants-12_r16_c6 user-index-participants-12_r17_c6 user-index-participants-12_r18_c6 user-index-participants-12_r19_c6"
                                          data-action="hide" data-column="status" role="button"
                                          href="http://localhost/moodle/user/index.php?id=12&amp;thide=status"><i
                                                 class="icon fa fa-minus fa-fw " aria-hidden="true"></i></a></div>
                     </th>
              </tr>
       </thead>
       {{#users}}
       <tbody>
              <tr class="" id="user-index-participants-12_r0">
                     <td class="cell c0" id="user-index-participants-12_r0_c0"><input id="user4" name="user4"
                                   type="checkbox" class="usercheckbox m-1" value="" data-action="toggle"
                                   data-toggle="slave" data-togglegroup="participants-table">
                            <label for="user4" class="accesshide">Select 'Emma Davis'</label></td>
                     <th class="cell c1" id="user-index-participants-12_r0_c1" scope="row"><a
                                   href="http://localhost/moodle/user/view.php?id=4&amp;course=12"
                                   class="d-inline-block aabtn"><span class="userinitials size-35">ED</span>{{firstname}} {{lastname}}
                                   </a></th>
                     <td class="cell c2" id="user-index-participants-12_r0_c2">{{email}}</td>
                     <td class="cell c3" id="user-index-participants-12_r0_c3"><span
                                   class="inplaceeditable inplaceeditable-autocomplete" data-inplaceeditable="1"
                                   data-component="core_user" data-itemtype="user_roles" data-itemid="12:4"
                                   data-value="[]" data-editlabel="Emma Davis's role assignments"
                                   data-type="autocomplete"
                                   data-options="{&quot;options&quot;:[{&quot;key&quot;:1,&quot;value&quot;:&quot;Manager&quot;},{&quot;key&quot;:3,&quot;value&quot;:&quot;Teacher&quot;},{&quot;key&quot;:4,&quot;value&quot;:&quot;Non-editing teacher&quot;},{&quot;key&quot;:5,&quot;value&quot;:&quot;Student&quot;}],&quot;attributes&quot;:{&quot;multiple&quot;:true}}">

                                   <a href="#" class="quickeditlink aalink" data-inplaceeditablelink="1"
                                          title="Emma Davis's role assignments">
                                         {{rolename}}
                                          <span class="quickediticon visibleifjs">
                                                 <i class="icon fa fa-pencil fa-fw "
                                                        title="Emma Davis's role assignments" role="img"
                                                        aria-label="Emma Davis's role assignments"></i>
                                          </span>
                                   </a>
                            </span></td>
                  
                     <td class="cell c6" id="user-index-participants-12_r0_c6">
                            <div data-fullname="Emma Davis" data-coursename="Day la cai thu 6"
                                   data-enrolinstancename="Manual enrolments" data-status="Active" data-timestart=""
                                   data-timeend="" data-timeenrolled="Wednesday, 12 April 2023, 11:44 AM">
                                   <span class="badge badge-success">Active</span>
                                   <a data-action="showdetails" href="#" role="button" tabindex="0"><i
                                                 class="icon fa fa-info-circle fa-fw " title="Manual enrolments"
                                                 role="img" aria-label="Manual enrolments"></i></a>
                                   <a href="#"
                                          role="button" class="editenrollink" rel="86" data-action="editenrolment"
                                          title="Edit enrolment"><i class="icon fa fa-cog fa-fw " title="Edit enrolment"
                                                 role="img" aria-label="Edit enrolment"></i></a>
                                   <a onclick="return confirm('Are you sure you want to unenrol this user?');"  href="{{unenrolmastercourse}}?mastercourseid={{mastercourseId}}&userid={{id}} "
                                          role="button" class="unenrollink" rel="86" data-action="unenrol"
                                          title="Unenrol"><i class="icon fa fa-trash fa-fw " title="Unenrol" role="img"
                                                 aria-label="Unenrol"></i></a>
                            </div>
                     </td>
              </tr>
              
              
              
              <tr class="emptyrow" id="user-index-participants-12_r8">
                     <td class="cell c0" id="user-index-participants-12_r8_c0"></td>
                     <th class="cell c1" id="user-index-participants-12_r8_c1" scope="row"></th>
                     <td class="cell c2" id="user-index-participants-12_r8_c2"></td>
                     <td class="cell c3" id="user-index-participants-12_r8_c3"></td>
                     <td class="cell c4" id="user-index-participants-12_r8_c4"></td>
                     <td class="cell c5" id="user-index-participants-12_r8_c5"></td>
                     <td class="cell c6" id="user-index-participants-12_r8_c6"></td>
              </tr>
              <tr class="emptyrow" id="user-index-participants-12_r9">
                     <td class="cell c0" id="user-index-participants-12_r9_c0"></td>
                     <th class="cell c1" id="user-index-participants-12_r9_c1" scope="row"></th>
                     <td class="cell c2" id="user-index-participants-12_r9_c2"></td>
                     <td class="cell c3" id="user-index-participants-12_r9_c3"></td>
                     <td class="cell c4" id="user-index-participants-12_r9_c4"></td>
                     <td class="cell c5" id="user-index-participants-12_r9_c5"></td>
                     <td class="cell c6" id="user-index-participants-12_r9_c6"></td>
              </tr>
              <tr class="emptyrow" id="user-index-participants-12_r10">
                     <td class="cell c0" id="user-index-participants-12_r10_c0"></td>
                     <th class="cell c1" id="user-index-participants-12_r10_c1" scope="row"></th>
                     <td class="cell c2" id="user-index-participants-12_r10_c2"></td>
                     <td class="cell c3" id="user-index-participants-12_r10_c3"></td>
                     <td class="cell c4" id="user-index-participants-12_r10_c4"></td>
                     <td class="cell c5" id="user-index-participants-12_r10_c5"></td>
                     <td class="cell c6" id="user-index-participants-12_r10_c6"></td>
              </tr>
              <tr class="emptyrow" id="user-index-participants-12_r11">
                     <td class="cell c0" id="user-index-participants-12_r11_c0"></td>
                     <th class="cell c1" id="user-index-participants-12_r11_c1" scope="row"></th>
                     <td class="cell c2" id="user-index-participants-12_r11_c2"></td>
                     <td class="cell c3" id="user-index-participants-12_r11_c3"></td>
                     <td class="cell c4" id="user-index-participants-12_r11_c4"></td>
                     <td class="cell c5" id="user-index-participants-12_r11_c5"></td>
                     <td class="cell c6" id="user-index-participants-12_r11_c6"></td>
              </tr>
              <tr class="emptyrow" id="user-index-participants-12_r12">
                     <td class="cell c0" id="user-index-participants-12_r12_c0"></td>
                     <th class="cell c1" id="user-index-participants-12_r12_c1" scope="row"></th>
                     <td class="cell c2" id="user-index-participants-12_r12_c2"></td>
                     <td class="cell c3" id="user-index-participants-12_r12_c3"></td>
                     <td class="cell c4" id="user-index-participants-12_r12_c4"></td>
                     <td class="cell c5" id="user-index-participants-12_r12_c5"></td>
                     <td class="cell c6" id="user-index-participants-12_r12_c6"></td>
              </tr>
              <tr class="emptyrow" id="user-index-participants-12_r13">
                     <td class="cell c0" id="user-index-participants-12_r13_c0"></td>
                     <th class="cell c1" id="user-index-participants-12_r13_c1" scope="row"></th>
                     <td class="cell c2" id="user-index-participants-12_r13_c2"></td>
                     <td class="cell c3" id="user-index-participants-12_r13_c3"></td>
                     <td class="cell c4" id="user-index-participants-12_r13_c4"></td>
                     <td class="cell c5" id="user-index-participants-12_r13_c5"></td>
                     <td class="cell c6" id="user-index-participants-12_r13_c6"></td>
              </tr>
              <tr class="emptyrow" id="user-index-participants-12_r14">
                     <td class="cell c0" id="user-index-participants-12_r14_c0"></td>
                     <th class="cell c1" id="user-index-participants-12_r14_c1" scope="row"></th>
                     <td class="cell c2" id="user-index-participants-12_r14_c2"></td>
                     <td class="cell c3" id="user-index-participants-12_r14_c3"></td>
                     <td class="cell c4" id="user-index-participants-12_r14_c4"></td>
                     <td class="cell c5" id="user-index-participants-12_r14_c5"></td>
                     <td class="cell c6" id="user-index-participants-12_r14_c6"></td>
              </tr>
              <tr class="emptyrow" id="user-index-participants-12_r15">
                     <td class="cell c0" id="user-index-participants-12_r15_c0"></td>
                     <th class="cell c1" id="user-index-participants-12_r15_c1" scope="row"></th>
                     <td class="cell c2" id="user-index-participants-12_r15_c2"></td>
                     <td class="cell c3" id="user-index-participants-12_r15_c3"></td>
                     <td class="cell c4" id="user-index-participants-12_r15_c4"></td>
                     <td class="cell c5" id="user-index-participants-12_r15_c5"></td>
                     <td class="cell c6" id="user-index-participants-12_r15_c6"></td>
              </tr>
              <tr class="emptyrow" id="user-index-participants-12_r16">
                     <td class="cell c0" id="user-index-participants-12_r16_c0"></td>
                     <th class="cell c1" id="user-index-participants-12_r16_c1" scope="row"></th>
                     <td class="cell c2" id="user-index-participants-12_r16_c2"></td>
                     <td class="cell c3" id="user-index-participants-12_r16_c3"></td>
                     <td class="cell c4" id="user-index-participants-12_r16_c4"></td>
                     <td class="cell c5" id="user-index-participants-12_r16_c5"></td>
                     <td class="cell c6" id="user-index-participants-12_r16_c6"></td>
              </tr>
              <tr class="emptyrow" id="user-index-participants-12_r17">
                     <td class="cell c0" id="user-index-participants-12_r17_c0"></td>
                     <th class="cell c1" id="user-index-participants-12_r17_c1" scope="row"></th>
                     <td class="cell c2" id="user-index-participants-12_r17_c2"></td>
                     <td class="cell c3" id="user-index-participants-12_r17_c3"></td>
                     <td class="cell c4" id="user-index-participants-12_r17_c4"></td>
                     <td class="cell c5" id="user-index-participants-12_r17_c5"></td>
                     <td class="cell c6" id="user-index-participants-12_r17_c6"></td>
              </tr>
              <tr class="emptyrow" id="user-index-participants-12_r18">
                     <td class="cell c0" id="user-index-participants-12_r18_c0"></td>
                     <th class="cell c1" id="user-index-participants-12_r18_c1" scope="row"></th>
                     <td class="cell c2" id="user-index-participants-12_r18_c2"></td>
                     <td class="cell c3" id="user-index-participants-12_r18_c3"></td>
                     <td class="cell c4" id="user-index-participants-12_r18_c4"></td>
                     <td class="cell c5" id="user-index-participants-12_r18_c5"></td>
                     <td class="cell c6" id="user-index-participants-12_r18_c6"></td>
              </tr>
              <tr class="emptyrow" id="user-index-participants-12_r19">
                     <td class="cell c0" id="user-index-participants-12_r19_c0"></td>
                     <th class="cell c1" id="user-index-participants-12_r19_c1" scope="row"></th>
                     <td class="cell c2" id="user-index-participants-12_r19_c2"></td>
                     <td class="cell c3" id="user-index-participants-12_r19_c3"></td>
                     <td class="cell c4" id="user-index-participants-12_r19_c4"></td>
                     <td class="cell c5" id="user-index-participants-12_r19_c5"></td>
                     <td class="cell c6" id="user-index-participants-12_r19_c6"></td>
              </tr>
       </tbody>
       {{/users}}
</table>
