{{#mastercourse}}

    <nav class="moremenu navigation observed" style="display: flex;">
        <ul  role="menubar" class="nav more-nav navbar-nav">
                    
                    <li class="nav-item" role="none" data-forceintomoremenu="false">
                        <div>
                            <input type="button" class="btn btn-secondary" value="Enrol Master Course" onclick="location.href='{{enrolmastercourse}}?mastercourseid={{id}}'">
                        </div>
                    </li>
        </ul>
        <ul  role="menubar" class="nav more-nav navbar-nav">
                    
                    <li class="nav-item" role="none" data-forceintomoremenu="false">
                        <div>
                            <input type="button" class="btn btn-primary" value="Edit Master Course" onclick="location.href='{{createmastercoursecourse}}?mastercourseid={{id}}'">
                        </div>
                    </li>
        </ul>
    </nav>

{{/mastercourse}}

