{{#mastercourse}}

<h1>{{name}}</h1>
<div>
    <input type="button" class="btn btn-primary" value="Add Course" onclick="location.href='{{addcourse}}?mastercourseid={{id}}'">
</div>

<div>
    <input type="button" class="btn btn-warming" value="Create Master Course" onclick="location.href='{{createmastercoursecourse}}?mastercourseid={{id}}'">
</div>

<div>
    <input type="button" class="btn btn-info" value="Enrol Master Course" onclick="location.href='{{enrolmastercourse}}?mastercourseid={{id}}'">
</div>

<div>
    <input type="button" class="btn btn-secondary" value="Unenrol Master Course" onclick="location.href='{{unenrolmastercourse}}?mastercourseid={{id}}'">
</div>
{{/mastercourse}}