{{#mastercourse}}

    <nav class="moremenu navigation observed" style="display: flex;">
        <ul  role="menubar" class="nav more-nav navbar-nav">
                    
                    <li  class="nav-item" role="none" data-forceintomoremenu="false">
                        <input type="button" class="btn" value="Create Master Course" onclick="location.href='{{createmastercoursecourse}}?mastercourseid={{id}}'">
                    </li>
                    <li class="nav-item" role="none" data-forceintomoremenu="false">
                        <div>
                            <input type="button" class="btn btn-secondary" value="Enrol Master Course" onclick="location.href='{{enrolmastercourse}}?mastercourseid={{id}}'">
                        </div>
                    </li>
                    <li  class="nav-item" role="none" data-forceintomoremenu="false">
                        <input type="button" class="btn" value="Unenrol Master Course" onclick="location.href='{{unenrolmastercourse}}?mastercourseid={{id}}'">
                    </li>
                    
        </ul>
    </nav>

{{/mastercourse}}

