

<div class="drawer drawer-left show d-print-none" data-region="fixed-drawer" id="theme_boost-drawers-courseindex" data-preference="drawer-open-index" data-state="show-drawer-left" data-forceopen="0" data-close-on-resize="0">
    <div class="drawerheader">
        <button class="btn drawertoggle icon-no-margin" data-toggler="drawers" data-action="closedrawer" data-target="theme_boost-drawers-courseindex" data-toggle="tooltip" data-placement="right" title="Close course index">
            <i class="icon fa fa-times fa-fw " aria-hidden="true"></i>
        </button>
    </div>
    <div class="drawercontent drag-container" data-usertour="scroller">
                        <nav id="courseindex" class="courseindex">
    <div id="courseindex-content">
        <div id="1-course-index" class="courseindex " role="tree">
            {{#course_section}}
    <div class="courseindex-section " id="1-course-index-section-142" data-for="section" data-id="142" data-number="0" role="treeitem" aria-owns="courseindexcollapse0" tabindex="0" aria-selected="true">
        <div class="courseindex-item d-flex
                
                
                courseindex-section-title" id="courseindexsection0" data-for="section_item" tabindex="-1">
            <a data-toggle="collapse" href="#courseindexcollapse0" class="courseindex-chevron icons-collapse-expand " aria-expanded="true" aria-controls="courseindexcollapse0" tabindex="-1">
                <span class="collapsed-icon icon-no-margin mr-1" title="Expand" tabindex="-1">
                    <span class="dir-rtl-hide" tabindex="-1"><i class="icon fa fa-chevron-right fa-fw " aria-hidden="true" tabindex="-1"></i></span>
                    <span class="dir-ltr-hide" tabindex="-1"><i class="icon fa fa-chevron-left fa-fw " aria-hidden="true" tabindex="-1"></i></span>
                    <span class="sr-only" tabindex="-1">Expand</span>
                </span>
                <span class="expanded-icon icon-no-margin mr-1" title="Collapse" tabindex="-1">
                    <i class="icon fa fa-chevron-down fa-fw " aria-hidden="true" tabindex="-1"></i>
                    <span class="sr-only" tabindex="-1">Collapse</span>
                </span>
            </a>
            <a href="http://localhost/moodle/course/view.php?id=8#section-0" class="courseindex-link text-truncate" data-action="togglecourseindexsection" data-for="section_title" tabindex="-1">
                {{name}}
            </a>
            <span class="current-badge badge badge-primary ml-2 px-2 rounded-pill" tabindex="-1">
                Highlighted
            </span>
            <span class="courseindex-locked ml-1" data-for="cm_name" tabindex="-1">
                <i class="icon fa fa-lock fa-fw " aria-hidden="true" tabindex="-1"></i>
            </span>
            <span class="dragicon ml-auto" tabindex="-1"><i class="icon fa fa-arrows fa-fw " aria-hidden="true" tabindex="-1"></i></span>
        </div>
        <div id="courseindexcollapse0" class="courseindex-item-content collapse show" aria-labelledby="courseindexsection0" role="group" tabindex="-1">
            <ul class="courseindex-sectioncontent unlist" data-for="cmlist" data-id="142" role="group" tabindex="-1">


                <li class="courseindex-item
                        
                        
                        
                         d-flex  " id="1-course-index-cm-388" data-for="cm" data-id="388" role="treeitem" tabindex="-1" aria-selected="false">
                    <span class="completioninfo completion_none" data-for="cm_completion" data-value="NaN" id="yui_3_17_2_1_1685342487744_57"></span>
                            <a class="courseindex-link text-truncate" href="http://localhost/moodle/mod/forum/view.php?id=388" data-for="cm_name" tabindex="-1">
                                {{sequence}}
                            </a>
                    <span class="courseindex-locked ml-1" data-for="cm_name" tabindex="-1">
                        <i class="icon fa fa-lock fa-fw " aria-hidden="true" tabindex="-1"></i>
                    </span>
                    <span class="dragicon ml-auto" tabindex="-1"><i class="icon fa fa-arrows fa-fw " aria-hidden="true" tabindex="-1"></i></span>
                </li>
            </ul>
        </div>
    </div>
    {{/course_section}}

    

   

    
</div>
    </div>
</nav>

    </div>
</div>


    
